*,
::after,
::before {
  box-sizing: border-box;
}

body {
  /* margin: 50px 20px; */
  padding-top: 10vh;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  background: hsl(0, 0%, 95%);
  line-height: 1.6em;
}
h1 {
  text-transform: uppercase;
  padding: 5px;
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
}

.row {
  /* display: inline-block; */
  padding: 20px 10px;
  color: hsla(0, 0%, 100%, 0.75);
}

.col {
  padding: 40px 40px 20px;
}

.sedans {
  background: hsl(31, 77%, 52%);
  border-radius: 10px 10px 0 0;
}

.suvs {
  background: hsl(184, 100%, 22%);
}

.luxury {
  background: hsl(179, 100%, 13%);
  border-radius: 0 0 10px 10px;
}
.btn {
  margin: 20px;
  padding: 10px 30px;
  border-radius: 100px;
  background: hsl(0, 0%, 95%);
  font-size: 15px;
  border: none;
  transition-duration: 0.4s;
  outline: none;
}
.btn:focus,
.btnSedans:hover {
  background: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}

.btn:focus,
.btnSuvs:hover {
  background: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}
.btn:focus,
.btnLuxury:hover {
  background: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}
.btnSedans {
  color: hsl(31, 77%, 52%);
}

.btnSuvs {
  color: hsl(184, 100%, 22%);
}

.btnLuxury {
  color: hsl(179, 100%, 13%);
}

@media only screen and (min-width: 768px) {
  .row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  .col {
    padding: 30px;
  }
  .sedans {
    border-radius: 10px 0 0 10px;
  }
  .luxury {
    border-radius: 0 10px 10px 0;
  }
}
